body {color: #ffffff; background-color: #121e31; font-family: Monospaced}
pre {color: #ffffff; background-color: #121e31; font-family: Monospaced}
table {color: #ffffff; background-color: #121e31; font-family: Monospaced}
.string {color: #e2ce00}
.constant {color: #eddd3d}
.ST1 {font-family: Monospaced; font-weight: bold}
.ST0 {color: #428bdd; background-color: #1b3450; font-family: Monospaced; font-style: italic}
.keyword {color: #ff6666}
.ST3 {color: #84dddd}
.ST2 {color: #428bdd; font-family: Monospaced; font-style: italic}
h1{
    font-family: verdana;
}